<html>
  <head>
    <title>NAO Senior Project</title>
  </head>
  <body>
    <h1>NAO Senior Project</h1>


   <audio controls id="audio1">
        <source src="{{ url_for('audio_feed') }}" type="audio/x-wav;codec=pcm" autobuffer>
        Your browser does not support the audio element.
    </audio>


  <script type="text/javascript">
    function callback() {
        //var audio = new Audio('Flask.url_for('audio_feed', filename='audio_streaming_NAO.py')');
        var audio = document.getElementById("audio1");
        audio.load();
        audio.play();
    }
   //setInterval(callback, 1000);
   callback();
  </script>
  </body>
</html>