<!DOCTYPE html>

<html>
    <title>NAO Senior Project</title>
    <body style="text-align:center; font-family:verdana; background-color:steelblue; color: seashell">
      <br>
      <h1 style="font-size:300%;">Welcome to Telepresence</h1><h1 style="font-size:300%;">Via NAO Robot</h1>
      <br><br>
      <h4>Please enter the IP address of your NAO robot to get started:</h4>
      <form action="/start" method="POST">
          <input type="text" name="enteredIP">
          <br><br>
          <input type="image" src="https://i.imgur.com/3tEOFpM.png">
      </form>
      <img style="width: auto; height: 40vh; position: fixed; bottom: 0px; left: 2vw;" src="https://aldebaran-community2-upload-prod.s3.amazonaws.com/media/home/image/nao_hearing.png">
    </body>
</html>