<!DOCTYPE html>

<html>
    <head>
        <title>NAO Senior Project</title>
    </head>
    <body>
      <a href="{{ url_for('main') }}">
        <div style="display: inline-block; text-align: center"> <!--displays start page image twice so it can be seen with VR headset on-->
          <img style = "width: 48.9vw; height: auto;" src="https://i.imgur.com/2HGkvww.jpg">
          <img style = "width: 48.9vw; height: auto;" src="https://i.imgur.com/2HGkvww.jpg">
        </div>
      </a>
     </body>
</html>
